<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title >default Index</title>
</head>
<body>
    <h3 th:text="${message}">Hello there! </h3>
    <br>
    <a th:href="@{/My/{id}(id=${welMessage})}">我的商品</a>


    <p th:each="good : ${goodsList}">
        <span th:text="${good.getGoodName()}">Name()</span>
        <span th:text="${good.getGoodCost()}">Cost()</span>
        <span th:text="${good.getGoodCount()}">Count()</span>
        <span th:text="${good.goodId}">ID</span>
        <span th:text="${good.getGoodDetails()}">Details()</span>

    </p>
</body>
</html>